:root {
    --primary-100: #61dafb;
    --primary-200: #39bcdc;
    --primary-300: #007997;
    --accent-100: #ff4081;
    --accent-200: #ffe4ff;
    --text-100: #ffffff;
    --text-200: #e0e0e0;
    --bg-100: #282c34;
    --bg-200: #383c44;
    --bg-300: #50555e;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-100);
}

.main-container {
    margin: auto 1rem;
    color: var(--text-100);
}

.welcome-name {
    color: var(--bg-100);
    font-size: x-large;
    background-color: var(--primary-200);
    padding: 0.5rem 1rem;
    border-radius: 5px 5px;
    box-shadow: 5px 10px var(--primary-300);
}

.main-content {
    margin-top: 2rem;
    display: flex;
}

/* .tugas {
} */

.tugas-progress {
    width: 70%;
}

.informasi-tugas {
    width: 30%;
}

.tugas table {
    width: 100%;
}

.tugas table,
.tugas th,
.tugas td {
    font-size: large;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 0.3rem;
    padding: 1rem 1rem;
}

td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tugas tbody {
    color: var(--bg-100);
    background-color: var(--primary-200);
}

.tugas td a {
    color: var(--primary-100);
    text-decoration: none;
    background-color: var(--bg-100);
    padding: 10px 10px;
    border-radius: 5px 5px;
}

.tugas td a:hover {
    color: var(--text-200);
    background-color: var(--bg-300);
}

fieldset {
    border: 1px solid var(--primary-100);
    border-radius: 5px 5px;
}

legend {
    color: var(--primary-100);
    border-left: 1px solid;
    margin: 0 1rem;
    padding: 0 0.5rem;
    border-right: 1px solid;
}

.info-card {
    border-radius: 5px 5px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    height: 10vh;
}

.icon p {
    font-size: xx-large;
}

.info-card-main {
    cursor: default;
    padding: 1rem;
    line-height: 0;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    color: var(--bg-100);
    background-color: var(--primary-200);
    border-radius: 5px 5px;
}

/* Modal */

.tugas-progress-modal {
    display: flex;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 3.3rem;
    background-color: rgba(3, 3, 3, 1);
}

.modal-container {
    background-color: var(--bg-300);
    border-radius: 5px 5px;
    padding: 1rem 1rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.judul-modal {
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--primary-100);
}

.judul-modal h1 {
    margin: 0 2rem;
    letter-spacing: 2px;
}

.modal-main-content {
    background-color: var(--bg-200);
    padding: 1rem 1rem;
    border-radius: 5px 5px;
}

.tugas-form-content {
    display: flex;
}

.main-tugas {
    border: 1px solid magenta;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-input label {
    font-size: large;
}

.form-input input {
    background-color: #39bcdc;
}

.sub-tugas {
    border: 1px solid saddlebrown;
}

.sub-tugas .form-input {
    display: block !important;
}
